{% extends 'product/base.html' %}
{% block title %} Product Detail Page {% endblock %}
{% block content %}

<h1>{{product}}</h1> <br>
{% if product.image %}
<img src="{{product.image.url}}" alt="some image" width="200" height="200"> <br>
{% endif %}
Price: ${{ product.price}} <br>
Description: {{product.description}} <br>
Quantity: {{product.quantity}} <br>

<button><a href="{% url 'product_update' product.id %}">Update</a></button>
<button><a href="{% url 'product_list' %}">Display All Products</a></button>

{% endblock %}




